* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 40px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #18bc9c;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.3s;
}

nav a.active {
    background-color: #18bc9c;
    color: white;
    border-radius: 4px;
}

nav a:hover {
    color: white;
}

main {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start; 
    padding: 40px 20px;
    margin: 0;
}

section {
    background: white;
    padding: 25px;
    border: 1px solid #ddd;
    border-left: 5px solid #2c3e50;
    border-radius: 5px;
    flex: 0 1 400px; 
    max-width: 800px; 
    height: fit-content; 
    margin: 0;
}



h2 {
    margin-bottom: 15px;
    color: #2c3e50;
    border-bottom: 2px solid #f4f7f6;
    padding-bottom: 5px;
}

#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#skills li {
    background: #e8f8f5;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #18bc9c;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #bdc3c7;
    font-size: 0.9rem;
    width: 100%;
    margin: 0;
}